.results {
  background-color: $grey;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid $black;
  margin: 1rem 0rem;

  > .results-containter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    h4 {
      text-transform: capitalize;
      margin-top: 0
    }

    > .result-wrapper {
      flex: 1;
      min-height: 100%;
      align-items: stretch;
      display: flex!important;
      flex-direction: column;

      .result {
        .label {
          font-size: 0.75rem;
          margin: 0;
        }

        p {
          margin-top: 0;
        }
      }

      .total {
        margin-top: auto;
      }
    }
  }
}