.card {
  background-color: $pink;
  background-image: url(../../images/element.png);
  width: 40rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  text-align: left;

  .options {
    display: flex;
    gap: 1em;

    > div {
      flex: 1;
    }
  }

  .card-element {
    position: absolute;
    top: -7.5rem;
    right: 0;
  }
}